* {
	position: relative;
	box-sizing: border-box;
}

html {
	background-color: #FFF;
	background-image: repeating-conic-gradient(from 0deg, #CCC 0deg 90deg, transparent 90deg 180deg, #CCC 180deg 270deg, transparent 270deg 360deg);
	background-size: 40px 40px;
	background-attachment: fixed;
}

body {
	margin: 0;
}

.partition-block {
	display: block;
	background-color: #F9C;
	font-size: 20px;
	padding: 10px;
}
