* {
	position: relative;
	box-sizing: border-box;
}

html {
	background-color: #CCC;
	background-image: repeating-conic-gradient(#BBB 0deg 90deg, transparent 90deg 180deg);
	background-size: 40px 40px;
	background-attachment: fixed;
}

body {
	margin: 0;
}

.partition-block {
	display: block;
	background-color: #F9C;
	font-size: 20px;
	padding: 10px;
}
